# binaries, backups

*~
*.o
*.a
*.la
*.lai
*.so*
*.obj
*.ncb
*.aux
*.log
*.bak
*.old
*.dvi
*.dmg
*.backup
*.lo
*.pyc
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.out
*.log
*.exe
*.swp
*.orig

# autotools noise

config.status
autom4te.cache/*
*Makefile.in
aclocal.m4
config.guess
config.sub
config.h
config.log
configure
depcomp
install-sh
ltmain.sh
missing
Makefile
libtool
stamp-h1
nmodlconf.h
nrnconf.h
nrnrpm.spec
stamp-h*

# nrn hg repository

nrn/nrn-hg
nrn/nrn-hg/*

# build output directories

nrn/armeabi
nrn/armeabi/*
nrn/armeabi-v7a
nrn/armeabi-v7a/*
nrn/bin
nrn/bin/*
nrn/include
nrn/include/*
nrn/share
nrn/share/*
nrn/src
nrn/src/*
nrn/x86
nrn/x86/*
nrn/x86_64
nrn/x86_64/*
nrn/hoc_e
nrn/nocmodl

neurodroid/assets
neurodroid/assets/*
neurodroid/bin
neurodroid/bin/*
neurodroid/gen
neurodroid/gen/*
neurodroid/libs
neurodroid/libs/*
neurodroid/obj
neurodroid/obj/*
neurodroid/tests/bin
neurodroid/tests/bin/*

.DS_Store
.AppleDouble

commit.sh
